#navbar{
    display:flex;
    max-width:100%;
    background-color: white;
    height: 75px;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    box-shadow: 0px 0px 5px black;
    transition: top 0.3s;
}
.icon-button svg{
  width: 50px;
  height: 50px;
}
.icon-button svg:hover{
  transform:translate(0, -2px)
}

.dropdown{
  position: absolute;
  top: 60px;
  width: 120px;
  transform: translateX(-60%);
  background-color: white;
  box-shadow: 0px 0px 3px black;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
}
.menu-item{
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0.5rem;
}
.menu-item:hover{
  background-color: rgba(0,0,0, 0.1);
}
@media (max-width: 175px){
  #navbar{
    flex-direction: column;
  }
  .dropdown{
    transform: translateX(-30%);
    border:none;
    top: 130px;
  }
}