.homeproducts{
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
}
.ProductCard.card{
    background: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 0;
    padding: 0;
}
.Homepage{
    margin-left: 1%;
    margin-right: 1%;
}
.mainPic{
    width: 100%;
    /* max-width: 300px; */
    height: auto;
    transition: 0.4s all ease-in-out;
}
.mainPic:hover{
    scale: 1.5;
}
.imgContainer{
    display: flex;
    overflow:hidden;
}
.picture{
    display:flex;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 100%;
}
.link-card{
    max-width: 400px;
}

@media (max-width: 600px){
    .ProductCard.card{
        width: 100%;
    }
}