#ProductPage{
    display: flex;
    padding-top: 50px;
    justify-content: space-evenly;
}
.ProductCard.card h3{
    width: 50%;
    margin-left: 25%;
}
.pictures{
    display:flex;
    justify-content: center;
    width: 50%;
}
.description{
}
.details{
    margin-top: 100px;
    text-align: left;
    line-height: 2rem;
    text-indent: 2rem;
}
#ProductPage button{
    margin-top: 10px;
    background-color: gray;
    font-weight: 700;
    position:relative;
    text-transform: uppercase;
    border: none;
    padding: 10px 50px 10px 50px;
    color: white;
}
#ProductPage button:hover,#ProductPage button:focus{
    background-color:lightgray;
    border:1px solid black;
    padding: 9px 50px 9px 50px;
}
#ProductPage button:active{
    background-color: white;
    color: black;
}